<!DOCTYPE html>
<html>
<head>
    <title>404 not found</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include menu %>
<p>404 not found.</p>
<p>Annoying, isn't it? </p>
</body>
</html>