<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include menu %>
<p>This is the index page.</p>
<img src="http://www.redrocketmedia.co.uk/wp-content/uploads/2012/03/robot.jpg" height="500 px"/>
</body>
</html>